:root {
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --primary-color: rgb(26, 255, 0);
  --text-color: #0a0a0a;
  --text-light: #575757;
  --font-size: 1rem;
  --animation-speed: 1;
}

.recipe_cont_create_btn {
  display: block;
  background-color: transparent;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 185px;
  height: 2.5rem;
  border: 2px solid var(--primary-color);

  &:hover {
    box-shadow: 0 0.2rem 0.3rem var(--shadow-color);
    background-color: var(--primary-color);
  }
}
.recipe_cont_create {
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: var(--primary-color);
  font-size: 0.9rem;
  font-weight: bold;
  &:hover {
    color: white;
  }
}

.new_recipe_cont {
  display: flex;
  justify-content: center;
  width: 100%;
}

.new_recipe {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.3);
  padding: 1rem;
  border-radius: 1rem;

  img {
    width: 70%;
    height: auto;
    margin: 1rem auto;
    object-fit: contain;
  }

  p {
    margin-bottom: 1rem;
    color: var(--text-light);
  }
}

.new_recipe_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--text-light);
  border-radius: 50%;
  margin: 1rem 0;
  width: 2rem;
  height: 2rem;
  font-weight: bolder;
}

@media screen and (max-width: 900px) {
  .new_recipe {
    display: flex;
    width: 50%;
  }
}

@media screen and (max-width: 520px) {
  .new_recipe {
    width: 80%;
  }
}
