:root {
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --primary-color: rgb(26, 255, 0);
  --text-color: #0a0a0a;
  --text-light: #575757;
  --font-size: 1rem;
  --animation-speed: 1;
}

.Navigation {
  padding-top: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  background-color: var(--background-color);
  box-shadow: 0 0 0 1670px rgba(0, 0, 0, 0.2), 3px 0 5px var(--shadow-color);
  z-index: 999;
}

.Navigation-link {
  display: block;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border-left: 0.3em solid transparent;
  font-size: 1.1em;
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    border-left-color: var(--primary-color);
    background-color: #0a0a0a25;
    color: var(--text-color);
  }
  &.active {
    border-left-color: var(--primary-color);
  }
}
svg {
  width: 1.2em;
  margin-right: 0.4em;
}

hr {
  color: var(--primary-color);
  width: 80%;
  margin: 0 auto;
}

.user_icon_sidebar {
  margin: 1rem 0;
  margin-left: 1rem;

  .user_pic {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;

    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      margin-right: 0.7rem;
    }
  }

  .user_dropdown {
    border-radius: 0.5rem;
    background-color: var(--background-color);
    margin-left: 1rem;

    .dropdown_list {
      list-style: none;
      padding: 0.5rem 0;

      .dropdown_link {
        font-size: 0.9em;
        a {
          display: block;
          padding: 0.5rem 1.5rem;
          color: var(--text-light);
        }
        text-transform: uppercase;

        cursor: pointer;
        &.active {
          color: var(--primary-color);
          font-weight: bolder;
        }

        &:hover {
          a {
            color: var(--primary-color);
          }
          border-left: 0.3em solid var(--primary-color);
        }

        &:last-child {
          font-weight: bolder;
          padding: 0.5rem 1.5rem;
          color: var(--text-light);

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

.sign_btns_sidebar {
  margin: 1rem;

  .sign_links {
    width: 90%;
  }
  button {
    margin-top: 0;
  }
  .sign-in,
  .sign-up {
    background-color: unset;
    color: var(--primary-color);

    border-radius: 1.3rem;
    padding: 0.5em 0.9em;
    font-weight: bold;
    width: 100%;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
    box-shadow: 0 2px 6px var(--shadow-color);

    &:hover {
      box-shadow: 0 1px 3px var(--shadow-color);
    }
    margin: 0.7em 0;
    cursor: pointer;
  }

  .sign-up {
    background-color: var(--primary-color);
    color: var(--background-color);
  }
}
