.footer {
  color: #fff;
  background-color: black;
  display: grid;
}
.f-title {
  opacity: 1;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 1em;
}
.f-text {
  opacity: 0.9;
  margin-bottom: 0.5em;
}
